doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
    title= "css_framework documentation"
    link(href='css/style.css', rel='stylesheet')
  body
    h1.header.h1.header--size_1 Examples
    .container.background--light-grey
      h2.header.header--size_2 Full contaner
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime veritatis illum nulla hic! Consectetur et, ab a inventore aliquam magni ratione at esse voluptas illo dignissimos atque sapiente ex ad.
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aperiam magni consequatur corporis labore tempora, accusamus magnam molestiae dolores? Iusto hic maiores accusamus explicabo dolor dicta et illum dolores ad!
    .containe.container--center.background--grey
      h2.header.header--size_2 Center contaner
      p  Lorem ipsum dolor.
      p
        div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sunt nihil dolores laudantium rerum, quia quibusdam obcaecati necessitatibus? Blanditiis nisi, aliquid sint nesciunt vel fugiat dicta eaque non modi voluptates?
        div Architecto error asperiores at perspiciatis repudiandae a vero nobis vel, expedita delectus, repellendus aspernatur pariatur unde cupiditate dolores tempore natus voluptatem. Eaque at sint quidem quis ducimus maxime quaerat officiis.
        div Consequatur magni esse eos animi, ullam mollitia dicta aperiam saepe nobis repellendus voluptatibus quo explicabo earum! Quia nam obcaecati numquam, animi labore laboriosam, nisi commodi rem in voluptatibus pariatur inventore.
    .container
      h2.header.header--size_2 Background colors
      p.background--grey_1
        Lorem ipsum dolor sit.
      p.background--grey_2
        Lorem ipsum dolor sit.
      p.background--grey_3
        Lorem ipsum dolor sit.
      p.background--grey_4
        Lorem ipsum dolor sit.
      p.background--grey_5
        Lorem ipsum dolor sit.

      p.background--yellow_1
        Lorem ipsum dolor sit.
      p.background--yellow_2
        Lorem ipsum dolor sit.
      p.background--yellow_3
        Lorem ipsum dolor sit.
      p.background--yellow_4
        Lorem ipsum dolor sit.
      p.background--yellow_5
        Lorem ipsum dolor sit.
    .container
      h2.header.header--size_2 Headers
      hr
      h1.header.header--size_2 Test H1
      h2.header.header--size_2 Test H2
      h3.header.header--size_3 Test H3
      h4.header.header--size_4 Test H4
      h5.header.header--size_5 Test H5
      h6.header.header--size_6 Test H6
    .container
      h2.header.header--size_2 Simple Columns
      .b_column.b_column--size_1 100000000
      .b_column.b_column--size_1 100000000
      .b_column.b_column--size_1 100000000
      .b_column.b_column--size_1 100000000
      .b_column.b_column--size_1 100000000
      .b_column.b_column--size_1 100000000
      .b_column.b_column--size_1 100000000
      .b_column.b_column--size_1 100000000
      .b_column.b_column--size_1 100000000
      .b_column.b_column--size_1 100000000
      .b_column.b_column--size_1 100000000
      .b_column.b_column--size_1 100000000
      hr.clearfix
      .b_column.b_column--size_2 100000000
      .b_column.b_column--size_2 100000000
      .b_column.b_column--size_2 100000000
      .b_column.b_column--size_2 100000000
      .b_column.b_column--size_2 100000000
      .b_column.b_column--size_2 100000000
      hr
      .b_column.b_column--size_2 100000000
      .b_column.b_column--size_3 100000000
      .b_column.b_column--size_2 100000000
      .b_column.b_column--size_3 100000000
      .b_column.b_column--size_1 100000000
      .b_column.b_column--size_1 100000000

